@use "pages/variables";

$sideWidth: 12em;

.page {
  margin: 1rem;
  display: flex;
  flex-direction: row;

  @media (max-width: variables.$xs) {
    flex-direction: column-reverse;
    .imageColumn {
      .image {
        max-height: 100%;
      }
    }
  }
}

.metaColumn {
  flex-basis: $sideWidth;
  flex-shrink: 0;
  margin: 3rem;

  .tagItemLink {
    color: inherit;

    &:hover {
      color: variables.$color-blossom;
    }
  }
}

.imageColumn {
  flex-grow: 1;

  // Hack for image stretching on Safari:
  // https://stackoverflow.com/a/57529046/5114106
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    // Keep original aspect ratio.
    // Maximum width is original resolution.
    max-width: 100%;
    object-fit: contain;
    max-height: 100vh;
  }
}

.spaceColumn {
  // Shrink first with flex-grow.
  max-width: $sideWidth;
  flex-grow: 1;
}
