@use "pages/variables";

.imageGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(200px, 1fr));
  justify-items: center;
}

@media (max-width: variables.$sm) {
  .imageGallery {
    grid-template-columns: repeat(auto-fill, minMax(150px, 1fr));
  }
}
