@use "pages/variables";

.imageGallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minMax(variables.$thumbnail-dimension-normal, 1fr)
  );
  grid-template-rows: repeat(
    auto-fill,
    minMax(variables.$thumbnail-dimension-normal, 1fr)
  );
  justify-items: center;
}

@media (max-width: variables.$sm) {
  .imageGallery {
    grid-template-columns: repeat(
      auto-fill,
      minMax(variables.$thumbnail-dimension-small, 1fr)
    );
    grid-template-rows: repeat(
      auto-fill,
      minMax(variables.$thumbnail-dimension-small, 1fr)
    );
  }
}
