@use "pages/variables";

.postThumbnail {
  // Styles.
  display: flex;
  height: auto;
  width: auto;
  // Specific styling.
  margin: 0.5rem;
  max-width: 24rem;
}

.postThumbnail a {
  align-self: center;
}

.postThumbnail a img {
  max-height: 250px;
  width: auto;
}

@media (max-width: variables.$sm) {
  .postThumbnail a img {
    max-height: 150px;
    width: auto;
  }
}
