@use "pages/variables";

.postThumbnail {
  // Styles.
  position: relative;
  display: flex;
  height: auto;
  width: auto;
  // Specific styling.
  margin: 0.5rem;
  max-width: 24rem;
}

.postThumbnail a {
  align-self: center;
}

.postSummaryContainer {
  display: none;
  // Position.
  position: absolute;
  z-index: 1;
  top: 100%;
  // Container.
  width: 100%;
}

.postSummary {
  background-color: rgb(32, 32, 32);
  padding: 1rem;
  dl {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  dl dt {
    display: inline;
    padding: 0px 5px 0px 5px;
  }
}

.postThumbnail:hover .postSummaryContainer {
  display: block;
}
